src/.vs
src/Debug
src/Release
src/Win32/Debug
src/botlib/Debug
src/botlib/Release
src/botlib/Win32
src/botlib/x64
src/cgame/Debug
src/cgame/Release
src/cgame/Win32
src/cgame/x64
src/extractfuncs/Debug
src/extractfuncs/Release
src/extractfuncs/Win32
src/extractfuncs/x64
src/game/Debug
src/game/Release
src/game/Win32
src/game/x64
src/renderer/Debug
src/renderer/Release
src/renderer/Win32
src/renderer/x64
src/splines/Debug
src/splines/Release
src/splines/Win32
src/splines/x64
src/ui/Debug
src/ui/Release
src/ui/Win32
src/ui/x64
src/win32/Debug
src/win32/Release/*.log
src/win32/Release/*.res
src/win32/Release/wolf.tlog
src/win32/x64
src/win32/*.res
/build
